.footer-social-icon-common{position: relative;transition: 0.3s;border-radius: 50%;}
.footer-social-icon-common::after{
    content: "";
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 2px solid #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
}
.footer-social-icon-common:hover{
    animation: fotter-log 0.5s ease 1;
}
.footer-social-icon-1:hover{
    background-color:#0084bf ;
}
.footer-social-icon-2:hover{
    background-color:#347d39 ;
}
.footer-social-icon-3:hover{
    background-color:#c53929 ;
}
.footer-social-icon-4:hover{
    background-color:rgb(29, 155, 240) ;
}
@keyframes fotter-log {
    0%{
        transform: rotate(20deg);
    }
    10%{
        transform: rotate(0deg);
    }
    20%{
        transform: rotate(-20deg);
    }
    30%{
        transform: rotate(0deg);
    }
    40%{
        transform: rotate(20deg);
    }
    50%{
        transform: rotate(0deg);
    }
    60%{
        transform: rotate(-20deg);
    }
    70%{
        transform: rotate(0deg);
    }
    80%{
        transform: rotate(20deg);
    }
    90%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-20deg);
    }
}

.footer-social-icon-common:hover::after{
    height: 120%;
    width: 120%;
    
}
.footer-social-icon-1:hover::after{
    border-color: #0084bf; 
}
.footer-social-icon-2:hover::after{
    border-color: #347d39; 
}
.footer-social-icon-3:hover::after{
    border-color: #c53929; 
}
.footer-social-icon-4:hover::after{
    border-color: rgb(29, 155, 240); 
}

