@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, monospace, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html {
  font-size: 62.5%;
} */

body {
  max-width: 100%;
  width: 100%;
}

li {
  list-style: none;
}